.frame {
  background-color: #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  background-color: #d1d1d1;
  overflow-x: hidden;
  width: 1280px;
  height: 1223px;
  position: relative;
}

.frame .group {
  position: absolute;
  width: 1282px;
  height: 478px;
  top: 0;
  left: 0;
}

.frame .overlap-group {
  position: relative;
  width: 1280px;
  height: 478px;
  background-image: url(assets/images/Banner.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .text-wrapper {
  position: absolute;
  width: 332px;
  top: 150px;
  left: 487px;
  font-family: "Megrim", Helvetica;
  font-weight: 500;
  color: #0b558a;
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .overlap-wrapper {
  position: absolute;
  width: 563px;
  height: 100px;
  top: 491px;
  left: 29px;
}

.frame .overlap {
  position: relative;
  width: 559px;
  height: 100px;
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Zen Kurenaido", Helvetica;
  font-weight: 400;
  color: #394450;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .p {
  position: absolute;
  width: 548px;
  top: 58px;
  left: 11px;
  font-family: "Zen Kurenaido", Helvetica;
  font-weight: 400;
  color: #4a81a8;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .group-2 {
  position: absolute;
  width: 272px;
  height: 243px;
  top: 633px;
  left: 47px;
}

.frame .text-wrapper-3 {
  position: absolute;
  top: 169px;
  left: 36px;
  font-family: "Zen Kurenaido", Helvetica;
  font-weight: 400;
  color: #394450;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-wrapper-4 {
  position: absolute;
  top: 210px;
  left: 36px;
  font-family: "Zen Kurenaido", Helvetica;
  font-weight: 400;
  color: #394450;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .rectangle {
  position: absolute;
  width: 268px;
  height: 153px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.frame .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 174px;
  left: 0;
}

.frame .img-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 219px;
  left: 0;
}

.frame .group-3 {
  position: absolute;
  width: 272px;
  height: 243px;
  top: 633px;
  left: 353px;
}

.frame .text-wrapper-5 {
  position: absolute;
  top: 210px;
  left: 37px;
  font-family: "Zen Kurenaido", Helvetica;
  font-weight: 400;
  color: #394450;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .group-4 {
  position: absolute;
  width: 272px;
  height: 243px;
  top: 633px;
  left: 659px;
}

.frame .group-5 {
  position: absolute;
  width: 272px;
  height: 243px;
  top: 633px;
  left: 965px;
}
